@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 200, 214);
}
.container {
  width: 35rem;
  box-shadow: 0px 0px 5px grey;
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
}
.col {
  text-align: justify;
  padding: 15px;
}
.box:hover {
  background-color: rgb(235, 231, 226);
}
#submit {
  background-color: rgb(50, 22, 68);
  transition: 0.2s;
  color: white;
  outline: none;
  border: none;
  font-size: 25px;
  display: block;
  padding: 10px;
  cursor: pointer;
}
.box {
  box-shadow: -1px -2px 1px grey;
}
#submit:hover {
  background-color: rgb(23, 2, 37);
}
.text {
  text-align: center;
}
